@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using TAC.Utils
@using TAC.Utils.Helpers;
@model RenderingModel
@{

}
<div class="container">
    <ol class="breadcrumb">
        @foreach (var nav in NavigationHelper.GetBreadcrumbs(Html.Sitecore().CurrentItem))
        {
            <li class="@Html.IsSelected(nav)">
                <a href="@Html.SitecoreUrl(nav)">
                    @Html.Sitecore().Field(Statics.FieldNames.ContentHeading, nav, new { DisableWebEdit = true })
                </a>
            </li>
        }
    </ol>
</div>