@using Sitecore.Mvc
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using TAC.Utils
@using TAC.Utils.Helpers
@model RenderingModel
@{

}
<div class="content-list">
    <ol class="media-list">
        @foreach (Item child in Model.Item.Children)
            {
            <li class="media">
                <div class="media-body">
                    <h3 class="media-heading">
                        <a href="@Html.SitecoreUrl(child)">
                            @Html.Sitecore().Field(Statics.FieldNames.ContentHeading, child)
                        </a>
                    </h3>
                    <div class="description">
                        <p>@Html.Sitecore().Field(Statics.FieldNames.ContentIntro, child)</p>
                    </div>
                </div>
            </li>
        }
    </ol>
</div>